body{
    margin: 0;
    padding: 0;
}

#board{
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 25fr 0fr 0fr 0fr 0fr;
}

#components{
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(13,1fr);
    background-color: #484848;
}

#components .button{
    height: 100%;
    width: 100%;
}

.button{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}

#and-button{
    background-image: url("./icons/source.svg");
}

#and3-button{
    background-image: url("./icons/jk.svg");
}

#not-button{
    background-image: url("./icons/not.svg");
}

#led-button{
    background-image: url("./icons/led.svg");
}

.hide{
    display: hidden;
    height: 0;
    width: 0;
}
